[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"aws-cdk-lib" = "~=2.54.0"
"constructs" = "~=10.1.183"

[dev-packages]
"isort" = "~=5.10.1"
"flake8" = "~=4.0.1"
"autopep8" = "~=1.6.0"

[requires]
python_version = "3.9"